<ion-header>
  <ion-toolbar class="header-style">
    <ion-title>
      <ion-img class="logo" src="assets/images/teamerizer2.png"></ion-img>
  </ion-title>
  </ion-toolbar>
</ion-header>


<!-- <This is a form for group creation -->
<ion-content padding>
  <form [formGroup]="newFormGroup">
    <ion-list>
      <ion-item class="items">
        <ion-label><ion-icon name="people"></ion-icon></ion-label>
        <ion-input [(ngModel)]="newGroupData.groupname" [formControl]="groupnameAC" id="groupname" type="text" required placeholder="Team Name"></ion-input>
      </ion-item>
      <ion-item class="items">
        <ion-label><ion-icon name="folder-open"></ion-icon></ion-label>
        <ion-input [(ngModel)]="newGroupData.desc" [formControl]="descAC" id="desc" type="text" required placeholder="Description"></ion-input>
      </ion-item>
      <ion-item  class="items">
        <ion-item class="items">
          <ion-label>Skills &nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
          <ion-icon name="add-circle" (click)="showAdvancedPicker()"></ion-icon>
        </ion-item>
      </ion-item>
    </ion-list>

    <div class="skills">
      <ion-row text-center *ngIf="selectedSkill.length > 0">
        <ion-col size="5" class="skills-header">Skill</ion-col>
        <ion-col size="5" class="skills-header">Level</ion-col>
      </ion-row>
  
      <ion-row text-center *ngFor="let skill of selectedSkill; let i = index">
        <ion-col size="5">{{ selectedSkill[i].text }}</ion-col>
        <ion-col size="5">{{ selectedLevel[i].text }}</ion-col>
        <ion-col size="2">
          <ion-icon name="trash" (click)="deleteSkill(i)"></ion-icon>
        </ion-col>
      </ion-row>
    </div>

    <div class="get_users">
      <ion-row *ngIf="matchedUsers.length > 0" no-padding class="user-banner">
        <ion-col align-self-center>
          Users your team matched with:
        </ion-col>
      </ion-row> 
      <!--<ion-button (click)="getSkillMatchedUser()" color="success">Get Users</ion-button>-->
      <ion-row *ngFor="let user of matchedUsers">
          <ion-item  size="5" color="white" (click)="openDetailsWithState(user.uid)">{{user.firstName}} {{user.lastName}} ({{skillMatched(user.skillType)}})</ion-item>
      </ion-row>
      
    </div>
    <br>
      <!-- <if the form is not valid, the addGroup button would be disabled -->
    <ion-row>
      <ion-col width-50 style="text-align: center">
        <ion-button color="primary" type="submit" shape="round" [disabled]="!newFormGroup.valid" (click)="addGroup()">Add Group</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50 style="text-align: center">
        <ion-button color="success" shape="round" (click)="cancel()">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </form>
        
      
</ion-content>
