.header-style {
    --background: #062f6f;
    color: #33A9AC;
}

ion-content{
    --ion-background-color: #484b86;
}

.items {
    --background: white!important;
  }

.skills {
    background: white;
  }

.get_users{
    background: white;
}

