<ion-header>
  <ion-toolbar class="header-style">
    <ion-title>
      <ion-img class="logo" src="assets/images/teamerizer2.png"></ion-img>
    </ion-title>
  
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">    
    <ion-card class="card-style" *ngIf="uid">
      <ion-card-subtitle class="invites">Pending Invites ({{pendingList$.length}})</ion-card-subtitle>
      <ion-card-content class="ion-no-padding">
<ion-grid>
       <ion-row *ngFor='let grpObservaPending of pendingList$' class="group-list"> 
<ion-col col-10 (click)="groupdetail(grpObservaPending.grpname,uid,grpObservaPending.desc)"><b>{{grpObservaPending.grpname}}</b>
</ion-col>
          <ion-col col-2 class="accept-decline">
             <ion-icon class="accept" name="checkmark-circle-outline" (click)="Accept( grpObservaPending.DocID)"></ion-icon>
             <ion-icon class="decline" name="close-circle-outline" (click)="decline(grpObservaPending.DocID)"></ion-icon>
          </ion-col>
</ion-row>
</ion-grid>       

      </ion-card-content>  
    </ion-card>

    <ion-card class="card-style" *ngIf="uid">
      <ion-card-subtitle class="invites">Requests ({{userRequests.length}})</ion-card-subtitle>
      <ion-card-content class="ion-no-padding">
<ion-grid>
       <ion-row *ngFor='let grpObservaRequests of userRequests' class="group-list"> 
<ion-col col-10 (click)="groupdetail(grpObservaRequests.grpname,uid,grpObservaRequests.desc)"><b>{{grpObservaRequests.grpname}} </b> {{grpObservaRequests.firstName}} 

</ion-col>
          <ion-col col-2 class="accept-decline">
             <ion-icon class="accept" name="checkmark-circle-outline" (click)="Accept(grpObservaRequests.DocID)"></ion-icon>
             <ion-icon class="decline" name="close-circle-outline" (click)="decline(grpObservaRequests.DocID)"></ion-icon>
          </ion-col>
</ion-row>
</ion-grid>       

      </ion-card-content>
    </ion-card>
  <br>
  <ion-row>
    <ion-col width-50 style="text-align: center">
      <ion-button fill="solid" color="success" shape="round" (click)="cancel()">Back</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
