<ion-header>
  <ion-toolbar class="header-style">
    <ion-title>
      <ion-img class="logo" src="assets/images/teamerizer2.png"></ion-img>
    </ion-title>
  
  </ion-toolbar>
</ion-header>
<ion-content>    
    <ion-card class="card-style" *ngIf="uid">
      <ion-card-subtitle class="invites">Pending Invites ({{pendingList$.length}})</ion-card-subtitle>
      <ion-card-content>
        <div *ngFor='let grpObservaPending of pendingList$' class="group-list"><b>{{grpObservaPending.grpname}}</b>
          <div class="accept-decline">
             <ion-icon class="accept" name="checkmark-circle-outline" (click)="Accept(uid, grpObservaPending.grpname)"></ion-icon>
             <ion-icon class="decline" name="close-circle-outline"></ion-icon>
          </div>
            <br>
        </div>
      </ion-card-content>
    </ion-card>
  <br>
  <ion-row>
    <ion-col width-50 style="text-align: center">
      <ion-button fill="solid" color="success" shape="round" (click)="cancel()">Back</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
