<ion-header>
  <ion-toolbar class="header-style">
    <ion-title>
      Team Management
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-badge *ngIf="grouponSelectedname$?.length > 0" color=success>{{ grouponSelectedname$.length }}</ion-badge>
        <ion-icon name="people" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

    <!--<ion-row no-padding class="user-banner">
      <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
        My Teams
      </ion-col>
    </ion-row>
    <ion-item color="light">
      <ion-label>Select Team</ion-label>
      <ion-select [(ngModel)]="selectedName" (ionChange)="groupDetailsDisplay($event)">
        <ion-select-option *ngFor="let grpSelected of group$" [value]="grpSelected.groupname">
          <p class="select">{{grpSelected.groupname}}</p>
        </ion-select-option>
      </ion-select>
    </ion-item>-->
    
    <ion-card class="card-style" *ngIf="selectedGrpName">
        <ion-card-header class="shadow-2">
          <ion-card-subtitle></ion-card-subtitle>
  
          <div id="profile-info">
            <br>
            <ion-card-title>{{selectedGrpName}}</ion-card-title>
            <ion-row>
              <ion-col size="11">
                <ion-input [readonly]="!isEditGroupDetail" [(ngModel)]="selectedGroup.desc" id="desc" type="text" #groupDesc required placeholder="Description"></ion-input>
              </ion-col>
              <ion-col size="1" *ngIf="isAdminUser">
                <ion-icon name="create" (click)="editGroupDesc()"></ion-icon>
              </ion-col>
            </ion-row>
             
         
          </div>
        </ion-card-header>
        <br>
      <ion-card-content>
        <ion-row *ngFor='let grpObserva of grouponSelectedname$; let j=index'>
          <ion-col size="11">
          <b>{{grpObserva.firstName}} {{grpObserva.lastName}}</b>
          <p *ngFor="let skillType$ of grpObserva.skillType; let i=index ">  
            {{grpObserva.skillType[i].text}} ({{grpObserva.skillLevel[i].text}})
          </p>
          <br>
        </ion-col>
        <ion-col size="1" text-center *ngIf="isAdminUser">
          <ion-icon name="trash" (click)="deleteUser(j)"></ion-icon>
        </ion-col>
      </ion-row>
      </ion-card-content>
    </ion-card>

  <br>
  

  <div class="backdrop" *ngIf="isAdminUser">

    <ion-row no-padding class="user-banner">
      <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
        Find new members
      </ion-col>
    </ion-row>

    <ion-searchbar showCancelButton (ionInput)="filterList($event)" placeholder="Search Users" color="light"></ion-searchbar>

    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let item of userList ">
        <ion-card>
          <ion-card-header>
            <ion-card-title (click)="openDetailsWithState(item.uid)">
              {{ item.firstName}} {{ item.lastName }}
            </ion-card-title>
            <ion-card-content>
              <img src="assets/icon/me.png/">
              <ion-button expand="full" size="small" (click)="addToGroup(item)  ">Add to Group</ion-button>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
    
  </div>
  <ion-row>
    <ion-col width-50 style="text-align: center">
      <ion-button *ngIf="isAdminUser" expand="block" color="primary" type="submit" shape="round" (click)="updateGroup()">Update Group</ion-button>
      <ion-button expand="block" fill="solid" color="success" shape="round" (click)="cancel()">Cancel</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
