
.header-style {
  --background: #062f6f;
  color: #33A9AC;
}
page-sign-up-page {
  
  .welcome-card img {
  max-height: 25vh;
  overflow: hidden;
  --background: white!important;
}

.errormsg{
  color: black!important;
}
  
  .item-inner{
    border-bottom: 0px !important;
  }
  .list-md, .list-ios {
    margin:0 !important;
  }
  .list {
    padding:0 !important;
  }
  form {
    .button-md,
    .button-ios {
      margin: 0px !important;
      background-color: black;
      padding: 26px !important;
    }
  }
  .form-bottom-text label,
  a {
    color: white;
  }
}


ion-content{
  --ion-background-color: #484b86;
}

.container {
  width: 100%;
  text-align: center;
}

.logo-holder {
  display: inline-block;
  height: 15vh; 
  width: 25vh;
}

img {
  max-width: 25vh;
  max-height: 5vh;
}




.items {
  --background: white!important;
}

.login-button {
  margin-left: auto;
  margin-right: auto;
}