// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary (TEAMERIZER! Color) **/
  --ion-color-primary: #07357E;
  --ion-color-primary-shade: #062f6f;
  --ion-color-primary-tint: #20498b;

  /** secondary (TEAMERIZER! Color) **/
  --ion-color-secondary: #33A9AC;
  --ion-color-secondary-shade: #2d9597;
  --ion-color-secondary-tint: #47b2b4;

  /** tertiary (TEAMERIZER! Color) **/
  --ion-color-tertiary: #343779;
  --ion-color-tertiary-shade: #2e306a;
  --ion-color-tertiary-tint: #484b86;

  /** success (TEAMERIZER! Color) **/
  --ion-color-success: #F2884B;
  --ion-color-success-shade: #d57842;
  --ion-color-success-tint: #f3945d;

  /** warning (TEAMERIZER! Color) **/
  --ion-color-warning: #0E2759;
  --ion-color-warning-shade: #0c224e;
  --ion-color-warning-tint: #263d6a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #fff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #f4f5f8;
  --ion-color-light-tint: #f5f6f9;
}

