/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*text css fontsize*/

.fs-5{
	font-size: 5px !important;
	/*line-height: 11px !important;*/
}
.fs-6{
	font-size: 6px !important;
	/*line-height: 12px !important;*/
}
.fs-7{
	font-size: 7px !important;
	/*line-height: 13px !important;*/
}
.fs-8{
	font-size: 8px !important;
	/*line-height: 14px !important;*/
}
.fs-9{
	font-size: 9px !important;
	/*line-height: 15px !important;*/
}
.fs-10{
	font-size: 10px !important;
	/*line-height: 16px !important;*/
}
.fs-11{
	font-size: 11px !important;
	/*line-height: 17px !important;*/
}
.fs-12{
	font-size: 12px !important;
	/*line-height: 18px !important;*/
}
.fs-13{
	font-size: 13px !important;
	/*line-height: 19px !important;*/
}
.fs-14{
	font-size: 14px !important;
	/*line-height: 20px !important;*/
}
.fs-15{
	font-size: 15px !important;
	/*line-height: 21px !important;*/
}
.fs-16{
	font-size: 16px !important;
	/*line-height: 22px !important;*/
}
.fs-17{
	font-size: 17px !important;
	/*line-height: 23px !important;*/
}
.fs-18{
	font-size: 18px !important;
	/*line-height: 24px !important;*/
}
.fs-19{
	font-size: 19px !important;
	/*line-height: 25px !important;*/
}
.fs-20{
	font-size: 20px !important;
	/*line-height: 26px !important;*/
}
.fs-21{
	font-size: 21px !important;
	/*line-height: 27px !important;*/
}
.fs-22{
	font-size: 22px !important;
	/*line-height: 28px !important;*/
}
.fs-23{
	font-size: 23px !important;
	/*line-height: 29px !important;*/
}
.fs-24{
	font-size: 24px !important;
	/*line-height: 30px !important;*/
}
.fs-25{
	font-size: 25px !important;
	/*line-height: 31px !important;*/
}
.fs-26{
	font-size: 26px !important;
	/*line-height: 32px !important;*/
}
.fs-27{
	font-size: 27px !important;
	/*line-height: 33px !important;*/
}
.fs-28{
	font-size: 28px !important;
	/*line-height: 34px !important;*/
}
.fs-29{
	font-size: 29px !important;
	/*line-height: 35px !important;*/
}
.fs-30{
	font-size: 30px !important;
	/*line-height: 36px !important;*/
}
.fs-32{
	font-size: 32px !important;
	/*line-height: 38px !important;*/
}
.fs-34{
	font-size: 34px !important;
	/*line-height: 40px !important;*/
}
.fs-36{
	font-size: 36px !important;
	/*line-height: 42px !important;*/
}
.fs-38{
	font-size: 38px !important;
	/*line-height: 44px !important;*/
}
.fs-40{
	font-size: 40px !important;
	/*line-height: 46px !important;*/
}
.fs-42{
	font-size: 42px !important;
	/*line-height: 48px !important;*/
}
.fs-44{
	font-size: 44px !important;
	// line-height: 50px !important;
}
.fs-46{
	font-size: 46px !important;
	/*line-height: 52px !important;*/
}
.fs-48{
	font-size: 48px !important;
	/*line-height: 54px !important;*/
}
.fs-50{
	font-size: 50px !important;
	/*line-height: 56px !important;*/
}
.fs-60{
	font-size: 60px !important;
	/*line-height: 66px !important;*/
}
.fs-70{
	font-size: 70px !important;
	/*line-height: 76px !important;*/
}
.fs-80{
	font-size: 80px !important;
	/*line-height: 86px !important;*/
}
.fs-90{
	font-size: 90px !important;
	/*line-height: 96px !important;*/
}
.fs-100{
	font-size: 100px !important;
	/*line-height: 106px !important;*/
}


.mgb-0{
	margin-bottom: 0px !important;
}
.mgb-5{
	margin-bottom: 5px !important;
}
.mgb-10{
	margin-bottom: 10px !important;
}
.mgb-15{
	margin-bottom: 15px !important;
}
.mgb-20{
	margin-bottom: 20px !important;
}
.mgb-25{
	margin-bottom: 25px !important;
}
.mgb-30{
	margin-bottom: 30px !important;
}
.mgb-35{
	margin-bottom: 35px !important;
}
.mgb-40{
	margin-bottom: 40px !important;
}
.mgb-45{
	margin-bottom: 45px !important;
}
.mgb-50{
	margin-bottom: 50px !important;
}
.mgb-70{
	margin-bottom: 70px !important;
}
.mgb-90{
	margin-bottom: 90px !important;
}




.mgb--5{
	margin-bottom: -5px !important;
}
.mgb--10{
	margin-bottom: -10px !important;
}
.mgb--15{
	margin-bottom: -15px !important;
}
.mgb--20{
	margin-bottom: -20px !important;
}
.mgb--25{
	margin-bottom: -25px !important;
}
.mgb--30{
	margin-bottom: -30px !important;
}
.mgb--35{
	margin-bottom: -35px !important;
}
.mgb--40{
	margin-bottom: -40px !important;
}
.mgb--45{
	margin-bottom: -45px !important;
}
.mgb--50{
	margin-bottom: -50px !important;
}
.mgb--70{
	margin-bottom: -70px !important;
}
.mgb--90{
	margin-bottom: -90px !important;
}


.mgr-0{
	margin-right: 0px !important;
}
.mgr-5{
	margin-right: 5px !important;
}
.mgr-10{
	margin-right: 10px !important;
}
.mgr-15{
	margin-right: 15px !important;
}
.mgr-20{
	margin-right: 20px !important;
}
.mgr-25{
	margin-right: 25px !important;
}
.mgr-30{
	margin-right: 30px !important;
}
.mgr-35{
	margin-right: 35px !important;
}
.mgr-40{
	margin-right: 40px !important;
}
.mgr-45{
	margin-right: 45px !important;
}
.mgr-50{
	margin-right: 50px !important;
}
.mgr-70{
	margin-right: 70px !important;
}
.mgr-90{
	margin-right: 90px !important;
}



.mgr--5{
	margin-right: -5px !important;
}
.mgr--10{
	margin-right: -10px !important;
}
.mgr--15{
	margin-right: -15px !important;
}
.mgr--20{
	margin-right: -20px !important;
}
.mgr--25{
	margin-right: -25px !important;
}
.mgr--30{
	margin-right: -30px !important;
}
.mgr--35{
	margin-right: -35px !important;
}
.mgr--40{
	margin-right: -40px !important;
}
.mgr--45{
	margin-right: -45px !important;
}
.mgr--50{
	margin-right: -50px !important;
}
.mgr--70{
	margin-right: -70px !important;
}
.mgr--90{
	margin-right: -90px !important;
}

/*shadow css*/

.shadow-1{
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}
.shadow-2{
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
}
.shadow-3{
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
}
.shadow-4{
	box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.3);
}
.shadow-5{
	box-shadow: 0px 20px 70px 0px rgba(0,0,0,0.5);
}