<ion-header>
  <ion-toolbar class="header-style">
    <ion-title>Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-list>

		<ion-item class="items">
		  <ion-label position="floating">First Name</ion-label>
		  <ion-input type="text" [(ngModel)]="firstname" ></ion-input>
		</ion-item>
	  
		<ion-item class="items">
		  <ion-label position="floating">Last Name</ion-label>
		  <ion-input type="text" [(ngModel)]="lastname"></ion-input>
		</ion-item>
		<ion-item class="items">
			<ion-label position="floating">Interests</ion-label>
			<ion-input type="text" [(ngModel)]="interests"></ion-input>
		  </ion-item>
	

		<ion-item class="items">
			<ion-label (click)="showAdvancedPicker()">Skills</ion-label>
			<!--<ion-button expand="block" (click)="showAdvancedPicker()" color="success">Add Skill Info</ion-button>-->
		</ion-item>

		<div class="skills">
			<ion-row text-center>
				<ion-col size="5" class="skills-header">Skill</ion-col>
				<ion-col size="5" class="skills-header">Level</ion-col>
			</ion-row>

			<ion-row text-center *ngFor="let skill of selectedSkill; let i = index">
				<ion-col size="5">{{ selectedSkill[i].text }}</ion-col>
				<ion-col size="5">{{ selectedLevel[i].text }}</ion-col>
				<ion-col size="2">
					<ion-icon name="trash" (click)="deleteSkill(i)"></ion-icon>
				</ion-col>
			</ion-row>
		</div>

	</ion-list>

	<ion-row>
    <ion-col width-50 style="text-align: center">
			<ion-button expand="block" fill="solid" color="primary" shape="round"  (click)="updateProfile()">Update</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-50 style="text-align: center">
      <ion-button expand="block"fill="solid" color="success" shape="round" (click)="cancel()">Cancel</ion-button>
    </ion-col>
  </ion-row>

	   
</ion-content>
