ion-content{
    --ion-background-color: #484b86;
  }

  
.header-style {
    --background: #062f6f;
    color: #33A9AC;
  }

  .container {
    width: 100%;
    text-align: center;
  }
  
  .logo-holder {
    display: inline-block;
    height: 15vh; 
    width: 25vh;
  }
  
  img {
    max-width: 25vh;
    max-height: 5vh;
  }
  
  
  
  
  .items {
    --background: white!important;
  }
  
  