<ion-header>
  <ion-toolbar class="header-style">
    <ion-title>
      <ion-img class="logo" src="assets/images/teamerizer2.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card text-center *ngIf="!isUploading && !isUploaded">
    <ion-card-header>
      <ion-card-title>Choose Images to Upload</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <input
        type="file"
        id="file"
        fill="solid"
        color="success"
        shape="round"
        (change)="uploadFile($event.target.files)"
      />

      <label for="file">Choose a file</label>
      <br /><br />
      <ion-button fill="solid" color="success" shape="round" (click)="back()"
        >Cancel</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card text-center *ngIf="isUploading && !isUploaded">
    <ion-card-header>
      <ion-card-title>Selected File:<b>{{ fileName }}</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="percentage | async as pct">
        Progress: {{ pct | number }}%
        <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
      </div>
      <div *ngIf="snapshot | async as snap">
        File Size: {{ snap.totalBytes | fileSizePipe }} Transfered: {{
        snap.bytesTransferred | fileSizePipe }}
        <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
          <ion-button
            fill="solid"
            color="success"
            shape="round"
            size="small"
            (click)="task.pause()"
            >Pause</ion-button
          >
          <ion-button
            fill="solid"
            color="success"
            shape="round"
            size="small"
            (click)="task.resume()"
            >Resume</ion-button
          >
          <ion-button
            fill="solid"
            color="success"
            shape="round"
            size="small"
            (click)="task.cancel()"
            >Cancel</ion-button
          >
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card text-center *ngIf="!isUploading && isUploaded">
    <ion-card-header>
      <ion-card-title> <b>{{ fileName }}</b> Uploaded! </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="UploadedFileURL | async as url">
        <img [src]="url" />
        <a [href]="url" target="_blank" rel="noopener">Download</a>
      </div>
      File Size: {{ fileSize | fileSizePipe }}
      <br />
      <ion-button fill="solid" color="success" shape="round" (click)="back()"
        >Back</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
