.header-style {
  --background: #230A59;
  color: #33A9AC;
}

ion-menu-button {
  --color: #96F20C;
}
.logo {
  width: 50px;
  height: 50px;
  float: right;
}

ion-content{
  --ion-background-color: #ffffff;
}

.card-style {
  --background: white;
}

.teams {
  font-size: 20px;
  color: rgb(172, 172, 172); 
}

.team-list {
  border-bottom: 1px solid grey;
}

.team-label {
  color: #0029FA;
}

