.header-style {
  --background: #230A59;
  color: #33A9AC;
}

ion-menu-button {
  --color: #96F20C;
}

.invites {
  display: flex;
  margin-left: 20px;
}

ion-badge {
  padding-right: 20px;
  
}

.logo {
  width: 50px;
  height: 50px;
  float: right;
}

.title {
  text-align: center;
}

.teams-list-container {
  padding-top: 0;
}


.title img {
  width: 20%;
  height: 80%;
  margin: auto;
}

.button-inner {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-flow: row nowrap;
}

ion-content{
  --ion-background-color: #ffffff;
}

.card-style {
  --background: white;
}

.teams-banner {
  border-left: 8px solid var(--ion-color-secondary);
  background: var(--ion-color-light-shade);
  height: 40px;
  padding: 10px;
  font-weight: 500;
}

.available-teams-banner {
  border-left: 8px solid var(--ion-color-success);
  background: var(--ion-color-light-shade);
  height: 40px;
  padding: 10px;
  font-weight: 500;
}

.teams {
  font-size: 20px;
  color: rgb(172, 172, 172); 
}

.team-list {
  border-bottom: 1px solid grey;
}

.team-label {
  color: #0029FA;
}

