.header-style {
    --background: #062f6f;
    color: #33A9AC;
}

ion-content{
    --ion-background-color: #484b86;
}

.card-style {
    --background: white;
}

img {
    border-radius: 50%;
    border: 2px solid #F2884B;
}

.fullname {
    font-size: 16px;
}