<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>

      <div id="profile-info" *ngIf="username">
        <p>User Name: {{ username }}</p>
        <p>First Name: {{ firstname }}</p>
        <p>Last Name{{ lastname }}</p>
        <p>Skills: {{ skills }}</p>
        <p>Skill: Level{{ skillLevel }}</p>
      </div>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-button
    fill="solid"
    expand="block"
    color="dark"
    (click)="updateProfile()"
  >
    Update
  </ion-button>
  <ion-button fill="solid" expand="block" color="dark" (click)="cancel()">
    Cancel
  </ion-button>
</ion-content>
