<ion-header>
  <ion-toolbar class="header-style">
    <ion-title>
        <ion-img class="logo" src="assets/images/teamerizer2.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content padding>
    <ion-card class="card-style">
      <ion-card-header class="shadow-2">
        <ion-card-subtitle></ion-card-subtitle>

        <div id="profile-info" *ngIf="username">
          <ion-avatar>
            <img src="assets/icon/me.png" alt="profile picture">
          </ion-avatar>
          <br>
          <ion-card-title>{{firstname}} {{lastname}}</ion-card-title>
        </div>
      </ion-card-header>
      <br>

      <ion-card-content>
        <p><b><span style="color:#0029FA">User Name:</span></b> {{ username }}</p>
        <br>
        <p><b><span style="color:#0029FA">Skills:</span></b></p>
        <p *ngFor="let skill of selectedSkill; let i = index">  {{ selectedSkill[i].text }}({{ selectedLevel[i].text}})</p>
        <br>
        <p><b><span style="color:#0029FA">Interests:</span></b> {{ interests }}</p>

        <br>
        <p id="other-teams"><b>Other teams you are in:</b></p>
        <ion-item-sliding *ngFor="let item of team$">
          <ion-item class="team-list">
            <ion-icon slot="start" color="medium" name="people"></ion-icon>
            <ion-label class="team-label"> {{item.grpname}}</ion-label>
          </ion-item>

        </ion-item-sliding>

        <!--<div *ngFor="let item of zip2$">
          <ion-item-sliding *ngFor="let subItem of item | keyvalue">
            <ion-label> {{subItem.key}} {{subItem.value}} </ion-label>
          </ion-item-sliding>
        </div>-->

        <br> 

        <div *ngFor="let item of adminUser$">
          <ion-item-sliding *ngFor="let subItem of item; let i = index">
            <ion-label> Admin: {{subItem.firstName}} {{subItem.lastName}}</ion-label>
          </ion-item-sliding>
        </div>
      </ion-card-content>

    </ion-card>

    <ion-row>
      <ion-col width-50 style="text-align: center">
        <ion-button fill="solid" color="primary" shape="round"  (click)="updateProfile()">Update</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50 style="text-align: center">
        <ion-button fill="solid" color="success" shape="round" (click)="cancel()">Cancel</ion-button>
      </ion-col>
    </ion-row>

  </ion-content>
