<ion-header>
  <ion-toolbar class="header-style">
    <ion-title>
      <ion-img class="logo" src="assets/images/teamerizer2.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="card-style">
    <ion-card-header class="shadow-2">
      <ion-card-subtitle></ion-card-subtitle>

      <div id="profile-info" *ngIf="username">
        <ion-avatar *ngFor="let image of ImageData$">
          <img
            src="{{image.filepath}}"
            alt="profile picture"
            (click)="UpdateProfilePicture(uid)"
          />
        </ion-avatar>

        <ion-avatar *ngIf="hasImage">
          <img
            src="assets/icon/Place-holder.png"
            alt="profile picture"
            (click)="UpdateProfilePicture(uid)"
          />
        </ion-avatar>

        <br />
        <ion-card-title>{{firstname}} {{lastname}}</ion-card-title>
      </div>
    </ion-card-header>
    <br />

    <ion-card-content>
      <p>
        <b><span style="color: #0029fa;">User Name:</span></b> {{ username }}
      </p>
      <br />
      <p>
        <b><span style="color: #0029fa;">Skills:</span></b>
      </p>
      <p *ngFor="let skill of selectedSkill; let i = index">
        {{ selectedSkill[i].text }}({{ selectedLevel[i].text}})
      </p>
      <br />
      <p>
        <b><span style="color: #0029fa;">Interests:</span></b> {{ interests }}
      </p>

      <br />
      <p id="other-teams"><b>Other teams you are in:</b></p>
      <ion-item-sliding *ngFor="let item of team$">
        <ion-item class="team-list">
          <ion-icon slot="start" color="medium" name="people"></ion-icon>
          <ion-label class="team-label"> {{item.grpname}}</ion-label>
        </ion-item>
        <div *ngFor="let admin of this.zip$">
          <ion-item-sliding *ngFor="let admindetails of admin">
            <div *ngIf="admindetails.grpname===item.grpname">
              <ion-label>
                Admin: {{admindetails.firstname}}
                {{admindetails.lastname}}</ion-label
              >
            </div>
          </ion-item-sliding>
        </div>
      </ion-item-sliding>

      <br />
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col width-50 style="text-align: center;">
      <ion-button
        fill="solid"
        color="primary"
        shape="round"
        (click)="updateProfile()"
        >Update</ion-button
      >
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-50 style="text-align: center;">
      <ion-button fill="solid" color="success" shape="round" (click)="cancel()"
        >Cancel</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
